.app-container {
  .blog-view-container.app-view {
    font-size: 0.6em;
    background: #FFFFFF;
    color: #000000;
    .blog-content-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: left;
      .blog-content-text-container {
        width: 58%;
        margin-left: 2%;
        text-align: justify;
        margin-right: 2%;
      }
      .blog-content-imgs-container {
        width: 20%;
        margin-left: 2%;
        text-align: center;
        .blog-info-image {
          width: 280px;
          height: 250px;
          margin-top: 2%;
        }
        .caption {
          display: block;
        }
      }
    }
  }
}
