body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.align-vertical-center {
  display: flex;
  align-items: center;
}

button:focus {
  outline: 0;
}

.app-container {
  .app-view {
    position: absolute;
    width: 95%;
    margin-top: 11%;
    height: 90%;
  }
}
