.predictions-img-figure {
  margin: 1%;
  height: 200px;
  width: 200px;
  flex-direction: column;
  .retina-img-prediction {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }
  .retina-img-normal {
    border: 4px solid #3D8C33;
  }
  .retina-img-diseased {
    border: 4px solid #8D262B;
  }
  .predictions-img-info {
    position: relative;
    width: 100%;
    height: 44px;
    margin-top: 5px;
    .predictions-info-text {
      text-align: center;
      font-size: 0.7em;
      margin: 0;
      padding: 0;
      .predicted-text-hidden {
        visibility: hidden;
      }
      .predicted-text {
        visibility: visible;
      }
    }
  }
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
