.predictions-img-figure {
  margin: 1%;
  height: 200px;
  width: 200px;
  flex-direction: column;
  .loading-overlay-hidden {
    display: none;
  }
  .loading-overlay {
    position: absolute;
    z-index: 3;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    opacity: 0.5;
    .loading-overlay-img {
      width: 30%;
      height: 30%;
      background-image: url(../assets/loading-img.gif);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    p {
      font-size: 0.5em;
    }
  }
  .retina-img-prediction {
    height: 150px;
    width: 150px;
    border-radius: 80px;
    padding: 5px;
  }
  .predictions-img-info {
    position: relative;
    width: 100%;
    height: 44px;
    margin-top: 5px;
    .predictions-info-text {
      text-align: center;
      font-size: 0.7em;
      margin: 0;
      padding: 0;
      .incorrect-prediction-text {
        color: #8D262B;
        text-shadow: 2px 2px 4px #000;
      }
      .predicted-text-hidden {
        visibility: hidden;
      }
      .predicted-text {
        visibility: visible;
      }
    }
  }
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
